server:
  port: 2333
  address: 0.0.0.0
lavalink:
  plugins:
    - dependency: "dev.lavalink.youtube:youtube-plugin:1.16.0"
      repository: "https://maven.lavalink.dev/releases"
  server:
    password: "youshallnotpass"
    sources:
      youtube: false
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false
    bufferDurationMs: 400
    frameBufferDurationMs: 5000
    playerUpdateInterval: 5
    gc-warnings: true

plugins:
  youtube:
    enabled: true
    oauth:
      enabled: true
      refreshToken: "1//0gguO81LGWv-NCgYIARAAGBASNwF-L9IrJn6GepDv_EW0xFwB3LgNHjBJkH6ZpBP25XK8pSOg6V-v5zdIxjR_VNpOB3p8AaP22Hk"
    allowSearch: true
    allowDirectVideoIds: true
    allowDirectPlaylistIds: true
    clients:
      - MUSIC
      - ANDROID_VR
      - WEB